<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ürituse vaatamine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link th:href="@{../css/style.css}" rel="stylesheet">
</head>

<body>
<div th:include="fragments/header :: header"></div>
<div class="container rowMargin">
  <div>
    <div class="row mb-2">
      <label class="col-sm-2">Ürituse nimi:</label>
      <div class="col-sm-6">
        <span th:text="${oneEvent.eventName}"></span>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-2">Toimumisaeg:</label>
      <div class="col-sm-6">
        <span th:text="${oneEvent.dateTime}"></span>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-2">Koht:</label>
      <div class="col-sm-6">
        <span th:text="${oneEvent.venue}"></span>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-2">Lisainfo:</label>
      <div class="col-sm-6">
        <span th:text="${oneEvent.additionalInfo}"></span>
      </div>
    </div>
    <div class="row mb-2">

      <label class="col-sm-2">Osavõtjad:</label>
      <div class="col-sm-6">
        <table>
          <tbody>
          <tr th:each="p, index : ${allParticipants}">
            <td th:text="${index.count} + '. ' + ${p.name}"></td>
            <td th:text="${p.code}"></td>
            <td>
              <a th:href="@{/participants/{id}(id=${p.id})}">VAATA</a>
            </td>
            <td>
              <a th:href="@{/events/{eventId}/participants/{id}/delete(id=${p.id},eventId=${oneEvent.id})}">KUSTUTA</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

    <br>
    <div>Osavõtjate lisamine</div>

    <input type="radio" id="individualParticipant" th:checked="${true}" th:onclick="'showIndividualForm();'" name="choice">
    <label for="individualParticipant">Eraisik</label>
    <input type="radio" id="businessParticipant" th:onclick="'showBusinessForm();'" name="choice">
    <label for="businessParticipant">Ettevõte</label>

    <div id="individualForm">
      <form action="#" th:action="@{/events/{id}/participants/individual(id=${id})}" th:object="${individualParticipant}" method="POST">

        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Eesnimi:</label>
          <div class="col-sm-6">
            <input class="form-control" th:field="*{firstName}" type="text">
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Perenimi:</label>
          <div class="col-sm-6">
            <input class="form-control" th:field="*{lastName}" type="text">
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Isikukood:</label>
          <div class="col-sm-6">
            <input class="form-control" th:field="*{idNumber}" type="text">
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Maksmisviis:</label>
          <div class="col-sm-6">
            <select class="form-select" name="paymentMethod">
              <option th:each="pm : ${T(RIK.eventmanager.participant.Participant.PaymentMethod).values()}"
                      th:value="${pm}" th:text="${pm}"></option>
              </option>
            </select>
          </div>
        </div>
        <div class="row rowMargin">
          <label class="col-sm-2 col-form-label">Lisainfo:</label>
          <div class="col-sm-6">
            <input class="form-control" th:field="*{additionalInfoIndividual}" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <a href="/" class="btn btn-outline-dark">Tagasi</a>
            <input type="submit" class="btn btn-primary" value="Lisa">
          </div>
        </div>
      </form>
    </div>

    <div id="businessForm" style="display:none;">
      <form action="#" th:action="@{/events/{id}/participants/business(id=${id})}" th:object="${businessParticipant}" method="POST">

        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Ettevõtte juriidiline nimi:</label>
          <div class="col-sm-6">
            <input class="form-control" th:field="*{legalName}" type="text">
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Ettevõtte registrikood:</label>
          <div class="col-sm-6">
            <input class="form-control" th:field="*{regCode}" type="text">
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Ettevõttest tulevate osavõtjate arv:</label>
          <div class="col-sm-6">
            <input class="form-control" th:field="*{participantCount}" type="text">
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label">Maksmisviis:</label>
          <div class="col-sm-6">
            <select class="form-select" name="paymentMethod">
              <option th:each="pm : ${T(RIK.eventmanager.participant.Participant.PaymentMethod).values()}"
                      th:value="${pm}" th:text="${pm}"></option>
              </option>
            </select>
          </div>
        </div>
        <div class="row rowMargin">
          <label class="col-sm-2 col-form-label">Lisainfo:</label>
          <div class="col-sm-6">
            <input class="form-control" th:field="*{additionalInfoBusiness}" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <a href="/" class="btn btn-outline-dark">Tagasi</a>
            <input type="submit" class="btn btn-primary" value="Lisa">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script th:inline="javascript">
      function showIndividualForm() {
        var x = document.getElementById("individualForm");
        var y = document.getElementById("businessForm");

        if (x.style.display === "none") {
          x.style.display = "block";
          y.style.display = "none";
        } else {
          x.style.display = "none";
          y.style.display = "block";
        }
      }

      function showBusinessForm() {
        var x = document.getElementById("businessForm");
        var y = document.getElementById("individualForm");

        if (x.style.display === "none") {
          x.style.display = "block";
          y.style.display = "none";
        } else {
          x.style.display = "none";
          y.style.display = "block";
        }
      }
    </script>

<div th:include="fragments/footer :: footer"></div>
</body>
</html>